<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type=text/javascript>
        $(document).ready(function () {
        console.log('Date Being Posted'); 
        var clock = {
            "time": new Date
         }
        console.log(JSON.stringify(clock));
        $.ajax({

            url:"/",
            dataType: 'json',
            data: JSON.stringify(clock),
            type:'POST',
            contentType:"application/json; charset=UTF-8",
            success: function(response){
				console.log(response);
			},
			error: function(error){
				console.log(error);
			}
            });
        });

      </script>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                                
                <li>
                    <a href="#">About</a>
                </li>
                
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Clock Skews</h1>
                <p>Measuring Clocks!</p>
                
                <table> 
                <tr>
                    <th>User-Agent Strings</th>
                    <th>Clock Times</th>
                </tr>    
                {% for user in users %}
                <tr>
                <th>{{user.user_agent}}</th>
                <th>{{user.clock}}</th>
                </tr>
                {% endfor %}
                </table>   
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
